* {
    box-sizing: border-box;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.submit,
.edit,
.close {
    background-color: #534caf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit {
    width: 80%;
}

.edit,
.close {
    width: 40%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.col-100 {
    width: 80%;
    margin: 10px auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 8px 0px;
    word-break: break-word;
}

.list,.search {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.card-buttons-div {
    display: flex;
    justify-content: flex-end;
}

.card-button {
    padding-right: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

@media screen and (max-width: 600px) {

    .col-100,
    .submit,
    .list,
    .edit,
    .close,
    .search {
        margin-top: 0;
    }

    .col-100,
    .submit,
    .list,
    .search {
        width: 100%;
    }

    .edit,
    .close {
        width: 48%;
    }
}

div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
    border-radius: 0px;
}

div.search button {
    float: left;
    width: 10%;
    padding: 10px;
    background:  #534caf;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
